@use 'sass:math';
@use "variables";

.Grid {
  &Container {
    display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  &Item {
    // display: block;
  }
  @for $i from 1 to 1000 {
    &Area-#{$i} {
      grid-area: area + $i;
    }
  }

  &Ruler {
    border: 2px solid black;
  }
  &Ruler > * {
    border: 2px solid red;
  }

  @for $i from 1 to 13 {
    $template: (
      'fr-#{$i}': repeat($i, 1fr),
    );
    @each $name, $value in $template {
      &Template-#{$name} {
        grid-template-columns: #{$value};
      }
    }
  }

  @each $name, $value in variables.$gap {
    &XGap-#{$name} {
      column-gap: #{$value};
    }
  }

  @each $name, $value in variables.$gap {
    &YGap-#{$name} {
      row-gap: #{$value};
    }
  }

  @each $name, $value in variables.$gap {
    &Gap-#{$name} {
      gap: #{$value};
    }
  }
  @for $i from 1 to 13 {
    &-xs-#{$i},
    &-col-#{$i} {
      grid-template-columns: repeat($i, 1fr);
    }
  }

  @include variables.breakpoint('sm') {
    @for $i from 1 to 13 {
      &-sm-#{$i} {
        grid-template-columns: repeat($i, 1fr);
      }
    }
  }

  @include variables.breakpoint('md') {
    @for $i from 1 to 13 {
      &-md-#{$i} {
        grid-template-columns: repeat($i, 1fr);
      }
    }
  }

  @include variables.breakpoint('lg') {
    @for $i from 1 to 13 {
      &-lg-#{$i} {
        grid-template-columns: repeat($i, 1fr);
      }
    }
  }

  @include variables.breakpoint('xl') {
    @for $i from 1 to 13 {
      &-xl-#{$i} {
        grid-template-columns: repeat($i, 1fr);
      }
    }
  }

  @for $i from 1 to 100 {
    &Width-#{$i} {
      width: #{$i}+ '%';
      margin: auto;
    }
  }
}
