@use 'sass:math';
@use "variables";

.Grid {
  &Container {
    display: flex;
    flex-wrap: wrap;
  }
  &Item {
    display: block;
  }

  &Raised {
    box-shadow: 0px 0px 15px 2px rgba(153, 153, 153, 0.25);
    border-radius: 5px;
    margin: 20px;
  }
  &Ruler {
    border: 2px solid black;
  }
  &Ruler > &Item {
    border: 2px solid red;
  }

  @for $i from 1 to 13 {
    &-xs-#{$i},
    &-col-#{$i} {
      flex-basis: math.div($i, 12) * 100%;
    }
  }

  @include variables.breakpoint('sm') {
    @for $i from 1 to 13 {
      &-sm-#{$i} {
        flex-basis: math.div($i, 12) * 100%;
      }
    }
  }

  @include variables.breakpoint('md') {
    @for $i from 1 to 13 {
      &-md-#{$i} {
        flex-basis: math.div($i, 12) * 100%;
      }
    }
  }

  @include variables.breakpoint('lg') {
    @for $i from 1 to 13 {
      &-lg-#{$i} {
        flex-basis: math.div($i, 12) * 100%;
      }
    }
  }

  @include variables.breakpoint('xl') {
    @for $i from 1 to 13 {
      &-xl-#{$i} {
        flex-basis: math.div($i, 12) * 100%;
      }
    }
  }

  @each $name, $value in variables.$spacing {
    &FullWidth {
      margin: 0 0 -$value;
    }
    &Spacing-#{$name} > &Item {
      padding: $value;
    }
  }

  @each $name, $value in variables.$justifyContent {
    &JustifyContent-#{$name} {
      justify-content: $value;
    }
  }

  @each $name, $value in variables.$alignItems {
    &AlignItems-#{$name} {
      align-items: $value;
    }
  }

  @each $name, $value in variables.$alignSelf {
    &AlignSelf-#{$name} {
      align-self: $value;
    }
  }
}
