.Background {
  background-color: rgb(var(--custom-background));
  --accessible-color: calc(
    (
        (
            (
                (var(--background-red) * 299) + (var(--background-green) * 587) +
                  (var(--background-blue) * 114)
              ) / 1000
          ) - 128
      ) * -1000
  );
  color: rgb(
    var(--accessible-color),
    var(--accessible-color),
    var(--accessible-color)
  );
}
.Container {
  background-color: rgb(var(--custom-container));
  --accessible-color: calc(
    (
        (
            (
                (var(--container-red) * 299) + (var(--container-green) * 587) +
                  (var(--container-blue) * 114)
              ) / 1000
          ) - 128
      ) * -1000
  );
  color: rgb(
    var(--accessible-color),
    var(--accessible-color),
    var(--accessible-color)
  );
}
.Text {
  color: rgb(var(--custom-text));
  --accessible-color: calc(
    (
        (
            (
                (var(--text-red) * 299) + (var(--text-green) * 587) +
                  (var(--text-blue) * 114)
              ) / 1000
          ) - 128
      ) * -1000
  );
  background-color: rgb(
    var(--accessible-color),
    var(--accessible-color),
    var(--accessible-color)
  );
}

.range {
  color: black;
}

// controls

.controlsWrap {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 280px;
  transform: translateX(100%);
  background-color: inherit;
  transition: transform 400ms;
  box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.15);
  background-color: white;
}
.open {
  transform: translateX(0);
}
.controlsToggle {
  position: absolute;
  bottom: 1rem;
  right: 0;
  padding: 0.5rem 0.25rem 0.5rem 0.5rem;
  color: inherit;
  background-color: inherit;
  border: none;
  border-radius: 0.5em 0 0 0.5em;
  box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.15),
    inset 0 1px 0 rgba(0, 0, 0, 0.15), inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;
  z-index: 1000;
}

.controlsToggle svg {
  display: block;
  fill: currentColor;
}

.controls {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.5rem;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  display: block;
  padding: 0;
  font-size: x-small;
  text-transform: uppercase;
  letter-spacing: 0.125em;
  position: relative;
}
.controls input[type='range'] {
  position: relative;
  width: 100%;
  margin-bottom: 0.5rem;
}
