.box {
  padding: 16px;
  border-radius: 4px;
  text-align: center;
  color: rgb(246, 246, 246);
  font-weight: 700;
  background-color: #856db1;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
