@use 'colors';

@mixin default {
  border-radius: 3px;
  font-size: 14px;
  padding: 10px 20px;
}

button {
  @include default;
  background-color: colors.$light;
  border: 1px solid colors.$light-primary;
  color: colors.$light-primary;
}

button:hover {
  background-color: colors.$dark-secondary;
  border: 1px solid colors.$dark;
  color: colors.$light;
}

input,
select {
  @include default;
  background-color: colors.$light;
  border: 1px solid colors.$light-primary;
}
