@use 'colors';

@mixin default {
  border-radius: 3px;
  font-size: 14px;
  padding: 10px 20px;
}

button,
a {
  @include default;
  cursor: pointer;
}

input,
select {
  @include default;
}

li {
  list-style: none;
}
