// 16px font size
// 26em = 416px
// 48em = 768px
// 64em = 1024px
// 80em = 1280px

$breakpoints: (
  'col': 0,
  'xs': 0,
  'sm': 26em,
  'md': 48em,
  'lg': 64em,
  'xl': 80em,
);

$gap: (
  'xs': 0.25em,
  'sm': 0.5em,
  'md': 1em,
  'lg': 2em,
  'xl': 3em,
);

$position: (
  'fixed': fixed,
  'absolute': absolute,
  'relative': relative,
);

@mixin breakpoint($name) {
  @media screen and (min-width: map-get($breakpoints, $name)) {
    @content;
  }
}
