@use "sass:selector";
@use "colors";
@use 'interface';

@mixin theme(
  $name,
  $primary-text,
  $theme-text,
  $theme-color,
  $theme-background,
  $theme-accent
) {
  .#{$name} {
    background-color: $theme-background;
    color: $primary-text;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $theme-text;
    }
    button,
    input,
    select,
    a {
      @include interface.default;
      background-color: $theme-color;
      border: 1px solid $theme-accent;
      color: $primary-text;
      text-decoration: none;
      margin: auto 5px;
    }
    a:hover,
    button:hover {
      cursor: pointer;
      background-color: $theme-accent;
      border: 1px solid $theme-color;
      color: $primary-text;
    }
  }
}

@include theme(
  'themeDefault',
  colors.$darkColor,
  colors.$default-text,
  colors.$default-color,
  colors.$default-background,
  colors.$default-accent
);

@include theme(
  'themeDark',
  colors.$lightColor,
  colors.$dark-text,
  colors.$dark-color,
  colors.$dark-background,
  colors.$dark-accent
);

@include theme(
  'themeColorful',
  colors.$lightColor,
  colors.$colorful-text,
  colors.$colorful-color,
  colors.$colorful-background,
  colors.$colorful-accent
);
