@use "colors";
@use "interface";

.themeLight {
  --theme-background: var(--light-background);
  --theme-container: var(--light-container);
  --theme-text: var(--light-text);
}

.themeDark {
  --theme-background: var(--dark-background);
  --theme-container: var(--dark-container);
  --theme-text: var(--dark-text);
}

.themeCustom {
  --theme-background: var(--custom-background);
  --theme-container: var(--custom-container);
  --theme-text: var(--custom-text);
}

// variables need to be show as: 0, 0, 0 in order to be used in scss
// must use rgb or rgba when using variables

// defaults for site
body {
  background-color: var(--theme-background);
  color: rgb(var(--theme-text));
  transition: all 0.3s cubic-bezier(0, 0, 0.5, 1);
  a {
    color: rgb(var(--blue));
    text-decoration: none;
  }
  button {
    @include interface.buttons;
    background-color: rgb(var(--theme-container));
    color: rgb(var(--theme-text));
    box-shadow: 2px 4px 12px rgb(var(--theme-text), 0.1);
    &:hover {
      background-color: rgba(var(--theme-container), 0.5);
      box-shadow: 2px 4px 16px rgb(var(--theme-text), 0.2);
    }
  }
  input,
  select {
    background-color: rgb(var(--theme-container));
    color: rgb(var(--theme-text));
  }
}
