@use "src/assets/fonts/fontFace";

$primary-font: NunitoSans;
$secondary-font: NunitoSans;

h1 {
  font-size: 2.5rem;
  font-weight: normal;
  line-height: 48px;
}

h2 {
  font-size: 2rem;
  font-weight: normal;
  line-height: 40px;
}

h3 {
  font-size: 1.75rem;
  font-weight: normal;
  line-height: 36px;
}

h4,
h5,
h6 {
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 32px;
}

p,
li,
div,
span {
  font-size: 1.15rem;
  font-weight: normal;
  line-height: 24px;
}
